<ion-header [translucent]="true" class="skate-theme">
  <ion-toolbar>
    <ion-title>
      <img src="assets/iconopatines.png" alt="logo" style="height: 24px; vertical-align: middle; margin-right: 8px;">
      PatinaPro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Menú Principal</h1>
  <h3>Aprende a patinar con PatinaPRO</h3>

  <!-- Animación -->
  <div class="lottie-wrapper">
    <lottie-player
      class="lottie-animation"
      src="../assets/pro.json"
      background="transparent"
      speed="1"
      style="width: 200px; height: 200px; margin: auto;"
      loop
      autoplay>
    </lottie-player>
  </div>

  <ion-list>
    <ion-item button detail="true">
      <ion-label>Primeros movimientos en patines</ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>Participa de nuestras rutas programadas</ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>Video tutoriales para todos los niveles</ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>Agenda tu clase presencial con uno de nuestros profesores</ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-label>Patines como medio de transporte</ion-label>
    </ion-item>
  </ion-list>
</ion-content>