<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/iconopatines.png" alt="logo" style="height: 24px; vertical-align: middle; margin-right: 8px;">
      PatinaPro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Menu</h1>
  <h3>Aprende a patinar con PatinaPRO</h3>

  <!-- Animación -->
  <div class="lottie-wrapper">
    <lottie-player
      class="lottie-animation"
      src="../assets/pro.json"
      background="transparent"
      speed="1"
      style="width: 200px; height: 200px; margin: auto;"
      loop
      autoplay>
    </lottie-player>
  </div>

  <ion-list>
    <ion-item button>
      Primeros movimientos en patines
    </ion-item>
    <ion-item button>
      Participa de nuestras rutas programadas
    </ion-item>
    <ion-item button>
      Video tutoriales para todos los niveles
    </ion-item>
    <ion-item button>
      Agenda tu clase presencial con uno de nuestros profesores
    </ion-item>
    <ion-item button>
      Patines como medio de transporte
    </ion-item>
  </ion-list>
  
</ion-content>

